
@{
    ViewBag.Title = "Rejected";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">The app has been denied access</h2>

<p>If you did not make this request, please contact Mesabrook IT support immediately</p>