
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success">You have authorized this app!</h2>

<p>You may close this window and return to your app</p>