<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Base.SQLProvider" value="C:\Users\Administrator\source\repos\Mesabrook-Development-Team\MesaSuiteNew\SqlServerProvider\bin\Debug\MSSqlServerProvider.dll" />
    <add key="MSSQLProvider.ConnectionString" value="data source=ms1;initial catalog=MesaSuite_CSXPurchasing;integrated security=sspi" />
    <add key="MSSQLProvider.ConnectionString.hmailserver" value="data source=10.2.0.13;initial catalog=hMailServer;integrated security=sspi" />
    <add key="OAuthBase" value="http://localhost:10709/" />
    <add key="ClientID" value="6873a558-f203-47a1-8801-24603b30d576" />
  </appSettings>
</configuration>