<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MesaSuite.Common.ResourceWriter" value="MesaSuite.Common.Data.ReleaseResourceWriter"/>
    <add key="MesaSuite.VersionURL" value="http://mcsync.api.mesabrook.com/version"/>
    <add key="MesaSuite.Common.AuthHost" value="https://oauth.mesabrook.com"/>
  </appSettings>
</configuration>