<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MesaSuite.Common.ResourceWriter" value="MesaSuite.Common.Data.DebugResourceWriter"/>
    <add key="MesaSuite.Common.DebugResourceWriter.Host.SystemManagement" value="http://localhost:51725"/>
    <add key="MesaSuite.Common.DebugResourceWriter.Host.CompanyStudio" value="http://localhost:1600"/>
    <add key="MesaSuite.Common.DebugResourceWriter.Host.Email" value="http://localhost:1700"/>
    <add key="MesaSuite.VersionURL" value="http://mcsync.api.mesabrook.com/version/getall"/>
    <add key="MesaSuite.Common.AuthHost" value="http://localhost:10709"/>
  </appSettings>
</configuration>