<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="MesaSuite.Common.ResourceWriter" value="MesaSuite.Common.Data.ReleaseResourceWriter" />
    <add key="MesaSuite.VersionURL" value="http://localhost:58480/mcsync/version" />
    <add key="MesaSuite.Common.AuthHost" value="http://localhost:10709" />
    <add key="MesaSuite.Common.ResourceWriter.MCSync" value="MesaSuite.Common.Data.DebugResourceWriter" />
    <add key="MesaSuite.Common.DebugResourceWriter.Host.MCSync" value="http://localhost:58480/mcsync" />
    <add key="MesaSuite.Common.ResourceWriter.SystemManagement" value="MesaSuite.Common.Data.DebugResourceWriter" />
    <add key="MesaSuite.Common.DebugResourceWriter.Host.SystemManagement" value="http://localhost:58480/system" />
    <add key="MesaSuite.Common.ResourceWriter.CompanyStudio" value="MesaSuite.Common.Data.DebugResourceWriter" />
    <add key="MesaSuite.Common.DebugResourceWriter.Host.CompanyStudio" value="http://localhost:58480/company" />
    <add key="MesaSuite.Common.ResourceWriter.GovernmentPortal" value="MesaSuite.Common.Data.DebugResourceWriter" />
    <add key="MesaSuite.Common.DebugResourceWriter.Host.GovernmentPortal" value="http://localhost:58480/gov" />
    <add key="MesaSuite.Common.ResourceWriter.Towing" value="MesaSuite.Common.Data.DebugResourceWriter" />
    <add key="MesaSuite.Common.DebugResourceWriter.Host.Towing" value="http://localhost:58480/tow" />
    <add key="MesaSuite.Common.ResourceWriter.FleetTracking" value="MesaSuite.Common.Data.DebugResourceWriter" />
    <add key="MesaSuite.Common.DebugResourceWriter.Host.FleetTracking" value="http://localhost:58480/fleet" />
  </appSettings>
</configuration>