<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Base.SQLProvider" value="C:\Users\adamc\source\repos\CSX8600\MCSync\SqlServerProvider\bin\Debug\MSSqlServerProvider.dll" />
    <add key="MSSQLProvider.ConnectionString" value="data source=localhost;initial catalog=MesaSuite;integrated security=sspi" />
    <add key="MSSQLProvider.ConnectionString.hmailserver" value="data source=localhost;initial catalog=MesaSuite;integrated security=sspi" />
  </appSettings>
</configuration>