<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Base.SQLProvider" value="C:\Users\CSX8600\Source\Repos\MesabrookMCSync\SqlServerProvider\bin\Debug\MSSqlServerProvider.dll"/>
    <add key="MSSQLProvider.ConnectionString" value="Data Source=localhost;Initial Catalog=MesaSuite;Integrated Security=SSPI"/>
  </appSettings>
</configuration>