
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h2 text-success">Registration Successful</h2>

<p>Your client has been successfully registered.  You may close this window.</p>

