<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Base.SQLProvider" value="C:\Users\Administrator\source\repos\Mesabrook-Development-Team\MesaSuiteNew\SqlServerProvider\bin\Debug\MSSqlServerProvider.dll" />
    <add key="MSSQLProvider.ConnectionString" value="data source=ms1;initial catalog=MesaSuite_CSXPurchasing;integrated security=sspi" />
    <add key="SMTPServer" value="127.0.0.1" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUser" value="" />
    <add key="SMTPPassword" value="" />
    <add key="DiscordBotBaseURL" value="" />
    <add key="DiscordIDErrorNotification" value="" />
    <add key="DiscordIDsUserExpired" value="" />
    <add key="DiscordBotAPIKey" value="" />
    <add key="GamearooUserID" value="171373018285735936" />
  </appSettings>
</configuration>